.tim
{
    color:blueviolet;
}
.gach_chan
{
    text-decoration: underline;
}
.in_dam
{
    font-weight: bold;
}
.anh_header
{
    width: 100%;
}
.anh
{
    width: 200px;
    height: 120px;
}
#chung
{
    color:blueviolet;
    font-weight: bold;
    text-decoration: underline;

}